* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #A3B18A;
    background: #ffffff;
}

#navbar {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 30px;
    background-color: #588157;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuitem.active{
    background-color: #3A5A40;
    color: #ffffff;
    padding: 3px 0px;
}

/* Estilos para el logo del navbar */
#logotipo-empresa {
    width: 120px; /* Tamaño predeterminado para pantallas grandes */
    height: auto;
    transition: all 0.3s ease-in-out; /* Transición suave al cambiar el tamaño */
}

.navbarli {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    margin-left: auto;
}

.navbarli a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

@media (min-width: 769px) {
    .navbarli a:hover {
        background-color: #3A5A40;
        color: #fff;
        border-radius: 5px;
        transform: scale(1.1);
    }
}

#home {
    display: flex;
    justify-content: center;
}
/*Seccion Inicio*/
main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 100%;
}

#description {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#description h2 {
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
#description p {
    width:100%;
    padding: 10px;
    text-align: center;
}

/* Sección de contenido principal */
#titulo-nosotros {
    text-align: center;
    font-size: 2.0em;
    margin-top: 40px; /*Afecta al titulo de inicio tambien*/
    color: #3A5A40;
}

section #home {
    text-align: center;
}

#home img {
    width: 80%;
    margin-bottom: 20px;
}

/* Estilos para el logo en la sección home */
#logotipo-home {
    width: 60%;
    height: auto;
    max-width: 300px; /* Limitar el tamaño máximo en pantallas grandes */
}

/*Agregue descripcion en el index*/
.descripción, h1, .contenedorsoporte {
    background-color: #A3B18A;
    margin: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#titulo-nosotros {
    padding: 0px;
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 20px;
}

/* Sección Nosotros */
.main2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#titulo-nosotros1 {
    padding: 0px;
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 20px;
}
#nosotros {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    background-color: #A3B18A;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 90%;
}

.columna {
    background-color: #A3B18A;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    max-width: 180px;
}

.fotonosotros img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}

.columna h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
}

.columna img {
    height: 5;
    object-fit: cover;
}

.bton-online {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #3A5A40;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.bton-online:hover {
    background-color: #2d4630;
    transform: scale(1.05);
}

/*Fin seccion */

.info-contacto {
    color: #fff;
    display: flex;
    justify-content: center;
}

#contact h1 {
    padding: 15px;
}


footer {
    background-color: #588157;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #fff;
    position: relative;
}


footer p {
    margin: 5px 0;
}


.fotoUade {
    margin-top: 20px;
    position: absolute; 
    bottom: 5px;
    right: 0px;
    max-width: 55%;
    width: auto;
}

.fotoUade img {
    height: 80%; 
    max-width: 55%; 
    height: auto; 
}


@media (max-width: 768px) {
    #logotipo-empresa {
        width: 90px;
    }

    .navbarli {
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
    }

     /* Main (Contenido principal) */
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 20px 0;
     }


    #logotipo-home {
        width: 80%;
        max-width: none;
    }

    #logotipo-empresa {
        width: 100px;
    }
    #nosotros {
        grid-template-columns: 1fr;
    }

    .columna {
        width: 90%;
        margin: 10px 0;
        padding: 5%;
    }

    footer {
        flex-direction: column;
        padding: 10px;
        align-items: center; 
    }

    .fotoUade {
        margin-top: 10px;
        position: static; 
        text-align: center; 
    }

    .fotoUade img {
        height: 30px; 
    }

    footer p {
        font-size: 0.9em; 
    }

    .caja_contacto h2 {
        font-size: 2rem;
    }

    .caja_contacto p {
        font-size: 1.125rem;
    }

    .formulario h2 {
        font-size: 1.75rem;
    }

    .campo label {
        font-size: 1rem;
    }

    .campo input,
    .campo textarea {
        font-size: 0.875rem;
    }

    .nuestra-oficina h3 {
        font-size: 1.5rem;
    }

    .direccion p {
        font-size: 1.5rem;
    }

    #contenedorimagensoporte img {
        max-width: 120px;
        margin: 5px;
    }

    #gridsoporte {
        gap: 20px; 
    }

    .soporteitem {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .logotiposoportegrid {
        max-width: 100px; /
    }

    .soporteitem p {
        font-size: 1rem; 
    }


}

@media (max-width: 480px) {
    #logotipo-empresa {
        width: 70px;
    }

    .navbarli {
        font-size: 1em;
    }

    .navbarli a {
        padding: 10px 0;
    }

    .columna img {
        width: 80%;
    }

    .info-contacto {
        flex-direction: column;
        padding: 10px;
    }

    .div-bton-online {
        flex-direction: column;
    }

    #titulo-nosotros {
        font-size: 1.2em;
        padding: 20px;
    }

    #logotipo-home {
        width: 70%;
    }

    footer {
        padding: 10px;
    }

    footer p {
        font-size: 0.8em; 
    }

    .fotoUade img {
        height: 25px;
    }

    #contenedorimagensoporte img {
        max-width: 100px;
        margin: 3px; 
    }

    #gridsoporte {
        gap: 10px;
    }

    .soporteitem {
        gap: 5px; 
    }

    .logotiposoportegrid {
        max-width: 80px; 
    }

    .soporteitem p {
        font-size: 0.9rem;
    }

    .caja_contacto {
        padding: 1.5%;
    }

    .formulario {
        padding: 15px;
    }

    .contenido-oficina {
        flex-direction: column;
        gap: 10px;
    }

    .contenido-oficina iframe {
        height: 300px;
    }
}

.formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A3B18A;
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.caja-consultas {
    display: flex;
    flex-direction: column;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.campo label {
    flex: 1;
    font-size: 20px;
    margin-right: 10px;
}

.campo input,
.campo textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.caja-consultas button {
    padding: 10px;
    background-color: #52734D;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.caja-consultas button:hover {
    background-color: #3E5941;
}
.nuestra-oficina {
    text-align: center;
    margin: 40px 0;
}

.nuestra-oficina h3 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #000000;
}

.contenido-oficina {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.contenido-oficina iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
    border-radius: 10px;
}

.direccion {
    max-width: 300px;
    text-align: left;
}

.direccion p {
    font-size: 30px;
    color: #000000;
    margin: 10px 0;
}

/*Apartado de soporte*/

#soporte h2{
    text-align: center;
    padding: 0%;
    font-size: 400%;
}

.titulosoporte{
    font-size: 300%;
}

.textosoporte{
    font-size: 160%;
}

.contenedorsoporte h3{
    font-size: 250%;
    margin-bottom: 5%;
}

#contenedorimagensoporte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

#contenedorimagensoporte img {
    max-width: 100%; /* Asegumainra que las imágenes no sean más anchas que su contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
}


.logotiposoporte{
    max-height: 200px;
    height: auto;
    width: auto;
}

#gridsoporte {
    display: flex;
    flex-direction: column;
    gap: 100px; 
    margin: 5%;
}

.soporteitem {
    display: flex;
    align-items: center; 
    gap: 60px; 
}

.logotiposoportegrid {
    max-width: 150px; 
    height: auto;
}

.soporteitem p {
    flex: 1; 
    font-size: 1.5rem;
}

/*Apartado de soporte*/


.services h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 70px;
}
  
.service-description {
    background-color: #A3B18A;
    padding: 20px;
    margin-bottom: 100px;
    text-align: center;
}
  
.service-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 20px;
}
  
.card {
    background-color: #A3B18A !important;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 20px !important;
}
  
.card-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.card-image{
    margin-bottom: 15px;
}
  
.service-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 20px;

}
  
.info-card {
    background-color: #A3B18A;
    padding: 10px;
    width: 30%;
    text-align: center;
    border-radius: 20px;
}

@media (max-width: 768px) {
    
    .service-cards, .service-info {
      flex-direction: column;
      align-items: center;
    }
  
   
    .card, .info-card {
      width: 100%;
      margin-bottom: 30px;
    }
    .service-cards {
      
        margin-bottom: 30px;
    }
    
    .service-description {
        margin-bottom: 30px;
    }
}

/* Estilo general */
.main5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%; /* Ampliar el ancho máximo de la estructura */
}

.container-content6 {
    text-align: center;
    max-width: 1000px; /* Ampliar el contenedor para mejorar la legibilidad */
    margin-bottom: 20px;
}

/* Estilo para las columnas 2 y 3 */
.portafolio-row2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* Espacio entre las columnas */
    flex-wrap: wrap; /* Asegura que las columnas se reorganicen en dispositivos pequeños */
}

.portafolio-content2 {
    flex: 1;
    min-width: 48%; /* Asegura que las columnas tengan al menos un 48% de ancho */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

/* Estilo de las columnas */
.columna6 {
    padding: 20px;
    background-color: #A3B18A;
    font-size: 1.4rem; /* Aumentar tamaño del texto */
    font-weight: 500;
}

/* Alinear imágenes dentro de las columnas */
.columna6 img {
    display: block;
    margin: 0 auto; /* Centrar las imágenes */
    max-width: 100%;
    height: auto;
}

/* Estilo para el título principal */
h1 {
    font-size: 2.5rem; /* Aumentar el tamaño del título */
    font-weight: bold;
    margin-bottom: 15px;
}

/* Estilo para los enlaces */
.main5 a {
    text-decoration: none;
    color: #3A5A40; /* Cambia el color del enlace */
    font-weight: bold;
    font-size: 1.4rem;
}



/* Párrafos */
.main5 p {
    font-size: 1.5rem; /* Aumentar el tamaño del texto */
    margin-bottom: 15px;
}

/* Responsive design para dispositivos móviles */
@media (max-width: 768px) {
    .portafolio-row2 {
        flex-direction: column; /* Las columnas se apilarán en dispositivos pequeños */
    }
    .portafolio-content2 {
        width: 100%;
        margin-bottom: 10px;
    }
}